@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base document styles */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background-light text-slate-900 antialiased;
  }

  .dark body {
    @apply bg-background-dark text-slate-100;
  }
}

@layer utilities {
  .layout-container {
    @apply w-full;
  }

  .perspective-1000 {
    perspective: 1000px;
  }

  .\@container {
    container-type: inline-size;
  }
}
